<div class="container text-center">
	<!-- Example row of columns -->
	<h1>Application for findig matches for betting - Home</h1>
	<div class="row">
		<div class="col-md-12">
			<h2>Input JSON</h2>
			<textarea rows="10" class="form-control"
				placeholder="Enter JSON here..." class="col-md-12"
				ng-model="exampleInput"></textarea>
			<hr>
			<p>
				<a class="btn btn-primary" ng-click="getMatches()">Get Matches</a>
			</p>
			<hr>
		</div>
		<div class="col-md-12" ng-show="successData">
			<h2>Matches</h2>
			<h4>Calculated profit:{{exampleout.calculatedProfit}}</h4>
			<table class="table table-borderd">
				<thead>
					<tr>
						<th>Match ID</th>
						<th>Match name</th>
						<th>Bookie ID</th>
						<th>Bet Home</th>
						<th>Bet Away</th>
						<th>Bookie ID</th>
						<th>Bet Home</th>
						<th>Bet Away</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="match in exampleout.matches">
						<td>{{match.id}}</td>
						<td>{{match.name}}</td>
						<td>{{match.placedBets[0].bookieId}}</td>
						<td>{{match.placedBets[0].betHome}}</td>
						<td>{{match.placedBets[0].betAway}}</td>
						<td>{{match.placedBets[1].bookieId}}</td>
						<td>{{match.placedBets[1].betHome}}</td>
						<td>{{match.placedBets[1].betAway}}</td>

					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-12" ng-show="errorData">
			<h2>Error</h2>
			<table class="table table-borderd">
				<thead>
					<tr>
						<th>Error ID</th>
						<th>Error name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{error.errorCode}}</td>
						<td>{{error.errorDescription}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
</div>